@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fff4e6 0%, #fbfbf8 100%);
  background-color: #fbfbf8;
}